/* navbar */
.logo {
    margin-bottom: 20px;
}
.navbar {
    /* height:70px; */
    background-color:rgba(139, 31, 31, 1);
    opacity: 95%;
    
}

.nav-link,.active{
    color:white
}

.nav-link:hover{
    color:pink
}
#myBtn {
    display: none; 
    position: fixed; 
    bottom: 20px; 
    right: 30px; 
    z-index: 99; 
    border: none; 
    outline: none; 
    background-color: red; 
    color: white; 
    cursor: pointer; 
    padding: 15px; 
    border-radius: 10px; 
    font-size: 18px; 
  }
  
  #myBtn:hover {
    background-color: #555; 
  }
/* home */
.image {
    background-image:url(image/homeimage.png);
    background-size:2000px;
    background-repeat:no-repeat;
    height:1000px;
    width:100%;
    height:100%;
    background-position: top;
}
#thebest{
    background: rgba(139, 31, 31, 1);
    border-radius: 25px;
    margin:auto ;
    margin-top:100px;
    margin-bottom:75px;
    width: 500px;
    height: 75px;
    display: flex;
    justify-content: justify;
    align-items: center;
    font-size: 25px;
    opacity: 80%;
    color:white;
}
.options {
    margin-top:6rem;
    color:white;
    font-size:20px;
    
}
.options > .btn {
    /* display:block; */
    background-color:#8B1F1F;
    padding:10px;
    padding-top:5px;
    margin-top:1rem;
    height:10px;
    width:100px;
    padding-bottom:25px;
}
.options a  {
    text-decoration: none;
    color:white;
    font-size:20px;
}
.bg-opacity img {
    padding-top:30px;
}
.bg-opacity {
    height:860px;
    background: linear-gradient(0deg, rgb(26, 26, 33), rgba(38, 33, 33, .7));
}
.bg-opacity .bottom {
    margin-top:10%;
}
.bottom img {
    height:100%px
}
.pictureabovefooter {
    background-image:url(image/homebottomimg.jpg);
    background-size:100%;
    background-repeat:no-repeat;
    background-position: center;
    height:300px;
    width:100%;
}
.abovefooter{
    color:white;
    margin-top: 8rem;
    font-size:1.5rem;
    text-align:center;
}
@media screen and (max-width: 800px) {
    .bg-opacity img{
      width:75%;
      margin-left:65px;
    }
    .bottom {
        align-content: right;
    }
  }
#toTop {
    background: white;
    position: fixed;
    bottom: 16px;
    right:32px;
    width:50px;
    height:50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size:32px;
    color:#1f1f1f;
    text-decoration: none;
    opacity:0;
    pointer-events: none;
    transition: all .4s;
}
#toTop.active {
    bottom:32px;
    pointer-events: auto;
    opacity:1;
  }
  .store-btn {
    background: white;
    position: fixed;
    bottom: 16px;
    right:32px;
    width:50px;
    height:50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size:32px;
    color:#1f1f1f;
  }
/* menu */
.menu-header {
    background-image: url(image/menuheader.png);
    background-size:2000px;
    background-repeat:no-repeat;
    height:300px;
    width:100%;
    background-position: center;
}
.nav-tabs {
    border:none;
}

.menu {
    background-color: #8B1F1F;
    
}
.menu-content {
    background-color: black;
    position:absolute;
    width:100%;

}
@media screen and (max-width:1231px) {
    .menu-items {
    
        height:1400px
    }
}
@media screen and (max-width:580px) {
    .menu button {
        width:50%
    }
}
.menu-items {
    
    height:1100px
}
#first-half {
    border-right:1px solid white;
    margin-top:10px;
    margin-bottom:10px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}
#second-half {
    border-left:1px solid white;
    margin-top:10px;
    margin-bottom:10px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}
.menu .nav-link {
    border-top:3px solid black;
    border-bottom:3px solid black;
    border-left:3px solid white;
    border-right:3px solid white;
    height:100%;
    border-radius:2px;
    white-space: nowrap;
    text-overflow: clip;
      
}
.menu .nav-link.active {
    background-color:#8B1F1F;
    color:white;
    margin-top:-10px;
    border-top:3px solid #311313;
    border-left:3px solid #311313;
    border-right:3px solid #311313;
    border-bottom:3px solid #311313;
    border-color:#311313;
    height:55px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
#lunch, #soup {
    font-size:13px
}
.menu .nav-link:hover {
    border-color:#311313
}
.menu-items {
    background-color:#8B1F1F;
    margin:40px;
    border-radius:2rem;
    padding-bottom:15px;
}
.hibachi-menu #first-half, .hibachi-menu #second-half{
    border:none
}
.menu-items li {
    line-height: 40px;
    list-style:none;
}
.mid-content {
    margin-left:150px;
}
.hibachi {
    font-size:   15px;
    text-align: center;
}
.lunch h5 {
    margin-bottom:8px;
    margin-top: 4px;
    font-size:16px;
    text-align: center;
}
.chinese, .hibachi-menu, .kids-menu, .soup-menu, .donburi-menu, .appetizers-menu{
    text-align: center;
}

#h6-small {
    font-size:smaller
}
.menu button {
width:12.5%
}
@media screen and (max-width:1150px) {
    .menu button {
        width:25%
    }
}
@media screen and (max-width:580px) {
    .menu button {
        width:50%
    }
}
 

/* order */
.order {
    background-image: url(image/orderbg.png);
    background-repeat:no-repeat;
    background-size: 100%;
    height:750px;
    background-position: center;
}
.orderheader h2{
    margin-top:100px;
    font-size: 40px;
}
/* about */
#about-top{
    background-image: url(image/aboutheader1.jpg);
    width: 100%;
    height: 100%;
    color:white;
    background-repeat: no-repeat;
    background-size:2000px;
    background-position: top;
}
#about-us-mid{
    background-image:url(image/aboutmiddleimage.png);
    background-size:cover;
    background-attachment: fixed;
    width:100%;
    height:100%;
    background-repeat:no-repeat;
}
#about-us-bottom{
    background-image:url(image/aboutbottomimage.png);
    background-size:2000px;
    background-repeat:no-repeat;
    height:1000px;
    width:100%;
    height:100%;
    background-position: top;
   
}
#aboutus{ 
    background: rgba(139, 31, 31, 1);
    border-radius: 25px;
    margin: auto;
    margin-top:75px;
    margin-bottom:75px;
    width: 250px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    opacity: 80%;
    color:rgb(255, 255, 255);
}
.about-middle-row1{
margin-top:50px;
color:white;
font-size:20px;
}
#about-para {
   margin-top: 50px;
}
.about-middle-row2{
margin-top:25px;
margin-bottom:25px;
color:rgb(187, 132, 132);

}
#about-links{
    color:white;
}
#about-links:hover{
    color: brown;
}
.aboutbg {
    background: linear-gradient(0deg, rgb(26, 26, 33), rgba(38, 33, 33, .7));
    height:auto;
}
#about-us-bottom {
    background-color: url(image/about-bottom.png);
    height:300px;
    background-position: center;
}
.payments {
    padding-top:20px;
    padding-bottom:20px;
    margin-left:20px;
    margin-right:20px;
    background-color:#8B1F1F;
    margin-top:20px;
    border-radius:30px;
    align-content: center;
    color:white;
    text-size-adjust:auto;
    margin-bottom: 3vw;
}
.payments img {
    width:10rem;
    margin-top:-20px;
    max-width: 10vw;
    height: 5vw;
    
}
#cash-img{
    margin-top: auto;
}
.payments {
    text-align: center;
}
.payments h4 {
    text-align: center;
    font-size:2vw;
}

#discover-card {
    width:6rem
}
.visa-margin{
    margin-right: .510rem;
}
#pic-visa{
margin-top:auto;
}
#master-card{
    font-size: 1.5vw;
    width: 12vw;
}
#master-card-img{
    margin-top: auto;
    height: auto;
}
#dis-img{
    margin-top: auto;
}
.payments-border {
    border-right:black solid 3px;
    margin-left: auto;
}
#pic-ame{
    margin: auto;
}
#ame{
    font-size: 1.87vw;
}
#pic-visa, #pic-ame{
    height:auto;
    width:125px;
}

.card-row{
    margin-top: 25px;
}
.hide {
    display: none;
  }
      
  .myDIV:hover + .hide {
    display: block;
    color: burlywood;
  }
/* contact */
.iframe{
    text-align: center;
    padding-bottom: 15px;
    padding-top:15px;
}
#contactbody{
    background-color:black;
    
}
.contact-top{
    color:white;
    padding-top:60px;
}
#first-li{
    list-style: none;
    padding-right:30px ;
    
}
#contact-li-header{
    text-align: center;
    list-style: none;
}

.contact-img-border{
    border-radius: 60px;
    background-position: left top;
    background-repeat: repeat;
    width: 375px;
    height: 225px;
}
.red-contact-border{
    border-left: #8B1F1F;
    border-left-style: solid;
    margin-top:10px;
    margin-bottom:10px; 
}
iframe {
    align-content: center;
    
}
/* catering */
#catering-tabs{
    
    height:50px;
    border-radius:2px;
    margin-left:.90vw;
}
.cater .cater-link {
    
    
    height:100%;
    
    white-space: nowrap;
    text-overflow: clip;
    background-color: #8B1F1F;
      
}
.cater .cater-link.active {
    background-color:#8B1F1F;
    
    margin-top:-4px;
    border-top:3px solid #311313;
    border-left:3px solid #311313;
    border-right:3px solid #311313;
    
    border-color:#311313;
    height:55px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.catering {
    background-image: url(image/catering-bg1.jpg);
    background-repeat:no-repeat;
    background-size: 2000px;
    height:1000px;
    filter: blur(px);
    background-position:center;
}
.cater-body {
  /* margin-top:20px */

}
.cater-content {
    
    position:absolute;
    width:100%;
}
.catering button {
    border:none
}
#cater-header {
    margin-top:4vw;
    text-align: center;
    color:white;
    font-size:40px;
}
.a {
    margin-top:700px;
}
.form-check, textarea {
    border-bottom: rgb(162, 145, 145) solid 2px;
    height: 150px;
    margin-top:3vw;
    /* margin-bottom:auto; */
}
.form-control {
    color:#8B1F1F;
}
.cater-right input:focus, .cater-right textarea:focus {
  box-shadow:none;
  color:white;
  background-color: black;
} 

.form-control::placeholder {
    color:#8B1F1F
}
.cater-right {
    background-color:#8B1F1F;
    /* opacity:.9; */
    border-radius:0px 10px 10px 10px;
    color:white;
    text-align:center;
    padding:20px;
    outline: #1f1f1f;
    outline-style: solid;
}
#pic-awe{
height:vw;
}


.cater-right input, .cater-right textarea {
    margin-top:10px;
    width:100%;
    background-color: black;
    border:none;
}
.cater-body h2 {
    border-bottom:black 2px solid; 
    
}
.comments {
    height:200px
}
/* footer */
 .footer{
    background-color:rgba(139, 31, 31, 1);
    color:white;
    font-size:15px;
}
#footerbody{
    color:black;
}
#link {
    color:white;
    font-size:20px;
}
#link:hover{
    color:burlywood
}
.border-left {
    border-left-style: solid;
    border-color: black;
    margin-top:15px;
}
.test {
    height:2000px;
    color:green
}
#font{
    font-family: "Bebas Neue", "Courier New", monospace;
}
.font{
    font-family: "Bebas Neue", "Courier New", monospace;
}
 


 /* index1  */
.color {
    background-color:black;
}
.navbar-brand {
    color:white
}
.intro {
    background-color: black;
    color:white;
    height:350px;
    opacity:50%;
}

#sakura {
    margin-top:5vw;
    text-align: center;
    animation: introduction 3s;
    font-size:60px;
    opacity: 100%;
}
@keyframes introduction {
    0% { opacity: 0;
        transform: translateY(20px); }
    100% { opacity: 1; 
        transform: translateY(0);}
}
.index-content {
    
    background-size:4000px;
    background-repeat:no-repeat;
    background-position: center;
    background-attachment: fixed;
}
.all {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    color:white;
    margin-top: 80px;
    padding:5vw;
    width:80%;
    height: 10%;
    
}  
#img-home, #img-home-2{
    opacity: 100%;
    
}
.body-background-1{
    background-image:url(image/homeimage.png);
}

#img-home{
    width: 100%;
    height: 100%;
}
#img-background{
    margin-bottom: 5vw;
}
#img-home-2{
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
}
  .i {
    height: auto;
  }
  
  .image {
    flex-basis: 40%;
  }
  
  .text {
    font-size: 2vw;
    margin-top: 3vw;
    
  }
  .all a {
    color:white;
    text-decoration: none;
  }
  .all button {
    background-color:#8B1F1F;
    padding:10px;
    padding-top:5px;
    margin-top:1rem;
    height:10px;
    width:100px;
    padding-bottom:25px;
  }
.button-2 {
    background-color:#8B1F1F;
    padding:10px;
    padding-top:5px;
    margin-top:1rem;
    height:10px;
    width:100px;
    padding-bottom:25px;
    margin-right: 10vw;
    margin-bottom: 2vw;
  }
  
